<div>


      <form [formGroup]="form" (ngSubmit)="setLocalStorage()" style="width: 300px; display: flex; flex-direction: column;align-items: center; ">
        <mat-form-field appearance="fill" style="display: flex; flex-direction: column;">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
          </mat-form-field>
          <button type="submit" mat-raised-button color="primary" >Enter</button>
      </form>
    </div>
