
<!--
<div>
   <div style="background-color: rgba(111, 56, 157, 0.699); display: flex; flex-direction: row; height: 100vh;">
       <div  style="background-color: rgb(186, 0, 0); display: flex; flex-direction: row; width: 30vw;">
        <nav style="display: flex; flex-direction: column; padding: 10px">
            <a style="padding: 10px; margin-top: 5px;">Super Heroes Guardados</a>
            <a style="padding: 10px; margin-top: 5px;">Busqueda de Super Heroes</a>
            <input type="text" [(ngModel)]="heroName" />
            <button (click)="fecthCharacter()">buscar</button>
            <div *ngFor="let hero of result">
                <h4>nombre: {{hero.name}}</h4>
                <button (click)="saveCharacter()">Guardar</button>
            </div>
        </nav>
       </div>
       <div  style="background-color: rgb(22, 89, 153); display: flex; flex-direction: row; width: 70vw;">central</div>
   </div>
   <div>{{heroName}}</div>
 
</div>
-->
<app-save-heroes></app-save-heroes>
<h1>vengo desd components/home</h1>
