   

 <mat-drawer-container class="example-container" style="height: 100vh; display: flex; align-items: center; ">
    <mat-drawer mode="side" opened style="width: 20vw"><app-pined-heroes></app-pined-heroes></mat-drawer>
    <mat-drawer-content> <mat-tab-group style="width: 60vw; padding-left: 100px;">
        <mat-tab label="Busqueda de SuperHeroes"><app-search></app-search> </mat-tab>
        <mat-tab label="SuperHeroes Guardados"><app-save-heroes></app-save-heroes></mat-tab>
      </mat-tab-group></mat-drawer-content>
  </mat-drawer-container>
